extends layout

block content
  p Welcome to #{title}
  form(action='/users/signup' method='post')
    div
          label Email
    input(type='text' name='user_email')
    div
          label Password
    input(type='password' name='user_password')
    div
          label Verify Password
    input(type='password' name='user_password_confirmation')
    div
      input(type='submit' value='Submit')