body {
  margin: 0;
  text-align: center; }

.signInForm {
  height: 10px;
  color: black;
  padding-right: 50px;
  padding-left: 50px; }

.form-group {
  margin-top: -4%; }

.signInForm .btn {
  margin-top: -4%;
  padding-right: 30px; }

.navbar-right {
  margin-top: -3%; }

#login_password {
  width: 95%; }


